<!--navbar.component.html-->
<div class="navbar-fixed-top">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        rel="stylesheet"> <!--social media ikonokhoz-->

  <div>
    <section class="top-contacts">
      <div class="container">
        <div class="contact-info">
          <!--email-->
          <div class="contact-item">
            <i class="fas fa-envelope"></i>
            <a href="mailto:mrsciyc27&#64;gmail.com" style="color: rgb(22 1 66)">mrsciyc27&#64;gmail.com</a>
          </div>
          <!--tel-->
          <div class="contact-item">
            <i class="fas fa-phone"></i>
            <a>+36 20 477 1664</a>
          </div>
          <!--social links-->
          <div class="social-links">
            <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
            <a href="https://www.facebook.com/profile.php?id=100017785740478" class="facebook"><i
              class="fab fa-facebook"></i></a>
            <a href="#" class="google-plus"><i class="fab fa-google-plus"></i></a>
            <a href="#" class="linkedin"><i class="fab fa-linkedin"></i></a>
            <a href="#" class="instagram"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
    </section>
  </div>


  <div>
    <nav class="navbar navbar-expand-sm bg-transparent justify-content-end">

      <ul class="collapse navbar-collapse mr-auto">
        <li class="my-list-item"><a class="navbar-brand nav-link active" aria-current="page" routerLink="/">CryBabyNails</a>
        </li>
      </ul>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
              aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse mr-auto" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/about">Rólam</a></li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/services">Szolgáltatásaim</a></li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/portfolio">Portfólió</a></li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/prices">Árjegyzék</a></li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/reservation">Időpontfoglalás</a></li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact">Kapcsolat</a></li>
        </ul>
      </div>
    </nav>
  </div>
</div>
