<!--contact.component.html-->

<div class="page">

  <div class="title">
    <h1>Kapcsolat</h1></div>

  <div class="check-in container">
    <h3>Jelentkezz be hozzám!</h3></div>

  <div class="contact container">
    <h4>Ha kérdésed merült fel, vedd fel velem a kapcsolatot e-mailben vagy telefonon!</h4></div>

  <div class="columns container">
    <div class="column email">
      <div><i class="fas fa-envelope"></i></div>
      <div><p class="contact-type">Email</p>
        <a href="mailto:mrsciyc27&#64;gmail.com" style="color: rgb(22 1 66)">mrsciyc27&#64;gmail.com</a></div>
    </div>

    <div class="column tel">
      <div><i class="fas fa-phone"></i></div>
      <div><p class="contact-type">Telefon</p>
        <a>+36 20 477 1664</a></div>
    </div>

    <div class="column address">
      <div><i class="fas fa-map"></i></div>
      <div><p class="contact-type">Cím</p>
        <p class="city">3041 Héhalom</p>
        <p class="street">Kossuth Lajos utca 43.</p></div>
    </div>

    <div class="column opening-hours">
      <div><i class="fas fa-info-circle"></i></div>
      <div>
        <p class="contact-type">Nyitvatartás</p>
        <div>
          <p>Hétfő&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;10:00 – 19:00
            <br>Kedd&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 10:00 – 19:00
            <br>Szerda&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 10:00 – 17:00
            <br>Csütörtök&nbsp; &nbsp; &nbsp; &nbsp;10:00 – 17:00
            <br>Péntek&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 10:00 – 19:00
            <br>Szombat&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ZÁRVA
            <br>Vasárnap &nbsp; &nbsp; &nbsp; &nbsp; ZÁRVA</p></div>
      </div>
    </div>
  </div>

</div>
