/*home-page.component.css*/
.page {
  display: flex;
}

/*motto*/
#motto {
  width: 50%;
  font-size: 4.6296vh;
  color: #3b0423 !important;
  text-shadow: 2px 2px 2px #dd5c5c !important;
  padding-top: 250px;
  align-items: center;
  text-align: center;
}

#second-line {
  color: #3b0423 !important;
  text-shadow: 2px 2px 2px #dd5c5c !important;
  text-align: center;
}
