/*home-page.component.css*/

/*top-bar*/
.top-contacts {
  width: 100%;
  margin-right: 5px;
  margin-left: 5px;
}

.container {
  width: 100%;
  max-width: 100%;
}

.contact-info {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.contact-info i {
  margin-right: 5px;
}

.social-links {
  margin-right: 0;
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

.social-links a {
  margin-left: 10px;
  margin-right: 0;
}

/*navbar*/
.navbar {
  border: 1px solid #808080;
  height: 4em;
}

#navbarTogglerDemo02 {
  justify-content: flex-end;
  align-items: center;
}

#navbarTogglerDemo02 a {
  margin-right: 5px;
  margin-left: 20px;
  font-size: 20px;
  color: #2c0707;
  text-decoration: none;
  text-shadow: 2px 2px 2px #dd5c5c;
}

#navbarTogglerDemo02 ul li a:hover {
  color: #570c31;
  text-shadow: 2px 2px 2px #810b45;
}

.navbar-brand {
  margin-right: auto;
  font-size: 50px;
  margin-left: 200px;
  color: #3b0423 !important;
  text-shadow: 2px 2px 2px #5e0638 !important;
}

/*motto - middle of the page*/
#motto {
  font-size: 35px;
  color: #3b0423 !important;
  text-shadow: 2px 2px 2px #5e0638 !important;
  padding-top: 215px;
  padding-left: 250px;
}

#second-line {
  padding-left: 100px;
  color: #3b0423 !important;
  text-shadow: 2px 2px 2px #5e0638 !important;
}
