<!--home-page.component.html-->

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

<div>
  <section class="top-contacts">
    <div class="container">
      <div class="contact-info">
        <i class="fas fa-envelope"></i> <a href="mailto:mrsciyc27&#64;gmail.com" style="color: rgb(22 1 66)">mrsciyc27&#64;gmail.com</a>
        <i class="fas fa-phone" style="margin-left: 20px"></i> +36 20 477 1664
        <div class="social-links">
          <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
          <a href="https://www.facebook.com/profile.php?id=100017785740478" class="facebook"><i
            class="fab fa-facebook"></i></a>
          <a href="#" class="google-plus"><i class="fab fa-google-plus"></i></a>
          <a href="#" class="linkedin"><i class="fab fa-linkedin"></i></a>
          <a href="#" class="instagram"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
  </section>
</div>

<div>
  <nav id="nav-menu">
    <ul id="nav-items" class="navbar nav-tabs navbar-toggler" style="list-style-type: none">
      <li class="menu-active"><a id="logo" href="#body">CryBaby</a></li>
      <li><a href="#about">Rólam</a></li>
      <li><a href="#services">Szolgáltatásaim</a></li>
      <li><a href="#portfolio">Portfólió</a></li>
      <li><a href="#price">Árjegyzék</a></li>
      <li><a href="#reservation">Időpontfoglalás</a></li>
      <li><a href="#contact">Kapcsolat</a></li>
    </ul>
  </nav>
</div>

<div id="motto">
  <p>
    <a><strong>"Kézenfekvő megoldás</strong></a>
      <br>
      <br>
    <a id="second-line"><strong>a szürke hétköznapokra"</strong></a>
  </p>
</div>
