/*styles.css*/

body, html {
  min-height: 100vh;
  background-image: url("../src/assets/pictures/1917999.jpg");
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

#motto, #second-line, #my-list-item{
  font-family: "Satisfy", cursive;
  font-weight: 250;
  font-style: normal;
}


